div {
    border-bottom-style: solid;
    border-bottom-color: goldenrod;
    width: 50%;
}

.grigio {
    background-color: rgb(224, 223, 223);
}

.centrata {

    margin-left: auto;
    margin-right: auto;
}

.testocentrato {
    text-align: center;
}

h3 {
    color: goldenrod;
}

h4 {
    font-style: italic;
}